n8n_workflows/n8n_auto_poster.json
{
    "name": "Netflow AI - Auto Poster",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "auto-post",
                "responseMode": "lastNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "webhook-post",
            "name": "Webhook (Auto Post)"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$json.body.postingFrequency}}",
                            "operation": "contains",
                            "value2": "auto"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                500,
                300
            ],
            "id": "check-schedule",
            "name": "Check Schedule"
        },
        {
            "parameters": {
                "download": true,
                "url": "={{$json.body.videoUrl}}"
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                750,
                300
            ],
            "id": "download-video",
            "name": "Download Video"
        },
        {
            "parameters": {
                "resource": "video",
                "operation": "upload",
                "contentVideo": "data",
                "title": "={{$node[\"Webhook (Auto Post)\"].json.body.productName}}",
                "videoData": "={{$json.data}}"
            },
            "type": "n8n-nodes-base.youtube",
            "typeVersion": 1,
            "position": [
                1000,
                200
            ],
            "id": "upload-youtube",
            "name": "Upload to YouTube"
        },
        {
            "parameters": {
                "resource": "video",
                "operation": "upload",
                "file": "data",
                "title": "={{$node[\"Webhook (Auto Post)\"].json.body.productName}}"
            },
            "type": "n8n-nodes-base.tiktok",
            "typeVersion": 1,
            "position": [
                1000,
                450
            ],
            "id": "upload-tiktok",
            "name": "Upload to TikTok"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"posted\", \"platform\": \"multiple\" }",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1300,
                300
            ],
            "id": "respond-post",
            "name": "Respond Success"
        }
    ],
    "connections": {
        "Webhook (Auto Post)": {
            "main": [
                [
                    {
                        "node": "Check Schedule",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Schedule": {
            "main": [
                [
                    {
                        "node": "Download Video",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Video": {
            "main": [
                [
                    {
                        "node": "Upload to YouTube",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Upload to TikTok",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to YouTube": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to TikTok": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}