n8n_workflows/n8n_video_script_generator.json
{
    "name": "Netflow AI - Video Script Generator (Google Flow)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "video-script-generator",
                "responseMode": "lastNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "webhook-trigger",
            "name": "Webhook (Netflow UI)"
        },
        {
            "parameters": {
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyClw40WEhG3zjS2_ama_pTbTQUkvZaRiOg",
                "method": "POST",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contents[0].parts[0].text",
                            "value": "=Generate a viral TikTok video script for a product named '{{$json.body.productName}}'. \nStyle: {{$json.body.saleStyle}}\nTone: {{$json.body.voiceTone}}\nLanguage: {{$json.body.language}}\n\nOutput ONLY the script text, no metadata."
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                500,
                300
            ],
            "id": "gemini-script",
            "name": "Gemini 2.0 Flash (HTTP)"
        },
        {
            "parameters": {
                "url": "https://texttospeech.googleapis.com/v1/text:synthesize",
                "method": "POST",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeader",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "input.text",
                            "value": "={{$json.text}}"
                        },
                        {
                            "name": "voice.languageCode",
                            "value": "th-TH"
                        },
                        {
                            "name": "voice.name",
                            "value": "th-TH-Neural2-C"
                        },
                        {
                            "name": "audioConfig.audioEncoding",
                            "value": "MP3"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                750,
                300
            ],
            "id": "google-tts",
            "name": "Google Cloud TTS"
        },
        {
            "parameters": {
                "url": "https://us-central1-aiplatform.googleapis.com/v1/projects/YOUR_PROJECT_ID/locations/us-central1/publishers/google/models/veo:predict",
                "method": "POST",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeader",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "instances[0].prompt",
                            "value": "={{$node[\"Gemini 2.0 Flash (HTTP)\"].json.candidates[0].content.parts[0].text}}"
                        },
                        {
                            "name": "parameters.sampleCount",
                            "value": 1
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1000,
                300
            ],
            "id": "google-veo",
            "name": "Google Veo (Vertex AI)"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"status\": \"success\",\n  \"script\": \"{{$node[\"Gemini 2.0 Flash (HTTP)\"].json.candidates[0].content.parts[0].text}}\",\n  \"audioUrl\": \"{{$node[\"Google Cloud TTS\"].json.audioContent}}\",\n  \"videoUrl\": \"{{$json.predictions[0].video}}\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1250,
                300
            ],
            "id": "respond-ui",
            "name": "Respond to Netflow"
        }
    ],
    "connections": {
        "Webhook (Netflow UI)": {
            "main": [
                [
                    {
                        "node": "Gemini 2.0 Flash (HTTP)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini 2.0 Flash (HTTP)": {
            "main": [
                [
                    {
                        "node": "Google Cloud TTS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Cloud TTS": {
            "main": [
                [
                    {
                        "node": "Google Veo (Vertex AI)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Veo (Vertex AI)": {
            "main": [
                [
                    {
                        "node": "Respond to Netflow",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}